* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
.flexible {
  display: flex;
  padding-bottom: 40px;
}
.side-by-side {
  width: 50%;
  padding-left: 5px;
}
.dancing-script {
  font-family: "Dancing Script", cursive;
  padding-left: 20px;
  padding-top: 20px;
}
ul {
  list-style-type: none;
}
li {
  display: inline;
  padding-top: 30px;
  padding-left: 16px;
}
li a {
  text-decoration: none;
  color: rgb(97, 85, 19);
  font-size: small;
  padding-left: 10px;
  font-weight: 700;
}
li a:hover {
  color: tomato;
}
#hero-section {
  padding-top: 40px;
  padding-left: 60px;
  padding-bottom: 0;
}
.color {
  color: tomato;
}
h1 {
  margin: 0;
  padding: 0;
}
.heading-1 {
  font-size: 40px;
  font-weight: 800;
  color: rgb(75, 54, 54);
  padding-bottom: 2px;
}
.first-paragraph {
  font-weight: 200;
  color: rgba(19, 10, 10, 0.904);
  padding-left: 2px;
  padding-top: 10px;
}

.side-by-side img {
  padding-left: 40px;
}

.link-button {
  background-image: linear-gradient(rgb(252, 92, 64), rgb(243, 178, 57));
  padding: 15px 25px;
  border-radius: 10px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: #fff;
}

.center {
  padding-top: 50px;
  padding-right: 10px;
}

.bg-img {
  background-image: url("images/shapes/Frame 59.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.second-paragraph {
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  color: rgb(68, 61, 61);
  font-weight: 500;
}

.heading-2 h2 {
  text-align: center;
  padding-top: 20px;
  color: rgb(75, 54, 54);
}

.third-paragraph {
  text-align: center;
  color: rgba(19, 10, 10, 0.904);
}
.row {
  display: flex;
  padding-top: 20px;
  padding-bottom: 60px;
}
.column {
  width: 33.33%;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 10px 10px 30px grey;
}
.column img {
  width: 100%;
}
footer {
  height: 200px;
  background-color: #23282c;
  color: white;
  text-align: center;
}
footer h2 {
  padding-top: 30px;
}
.footer-paragraph {
  padding-top: 10px;
  font-weight: 100;
}
